/* Custom properties */
:root {
  --clr-light: #eedd99;
  --clr-dark: #2d2f2c;
  --clr-accent-light: #fbf4db;
  --clr-accent-dark: #0094ce;

  /* FONT-FAMILY*/
  --ff-mont: "Montserrat";
  --ff-cabin: "Cabin";

  /* FONT-WEIGHT */
  --fw-semi-bold: 600;
  --fw-regular: 400;
  /* Regular 400 */
  /* Medium 500 */
  /* SemiBold 600 */
  /* Bold 700 */

  /* FONT-SIZES */
  --fs-heading: 3rem;
  --fs-primary: 1.375rem;
  --fs-secondary: 1.125;

  /* FONT-COLOR */
  --fc-dark: #2d2f2c;
  --fc-light: #eedd99;
  
  /* COMPONENTS */
  --border-small: ;
  --border-big: ;
  --link-icon: var('./assets/linkicon.svg')
}

/* RESET CSS */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h1,
h3,
h4,
h5,
h6,
p {
  font-weight: 400; /* remove default */
}

a {
  text-decoration: none;
}

/* set up the body */
body {
  font-family: var(--ff-cabin);
  font-size: var(--fs-secondary);
  color: var(--clr-dark);
  background: var(--clr-light);
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to use */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make forms easier */
/* by default these form elements do not inherit font family by default */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* undefined custom properties
makes them overidable
when declaring
them using inline css */
.flow > *:where(:not(:last-child)) {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
}

.container {
  padding-inline: 2em; /* same as padding: 0 2em */
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* add line */
  border: 0;
}

/* colors */

.bg-dark {
  background-color: var(--clr-dark);
}
.bg-light {
  background-color: var(--clr-light);
}

.text-light {
  color: var(--clr-light);
}
.text-dark {
  color: var(--clr-dark);
}
.text-accent-dark {
  color: var(--clr-accent-dark);
}
.text-accent-light {
  color: var(--clr-accent-light);
}

/* typography */

.ff-mont {
  font-family: var(--ff-mont);
}
.ff-cabin {
  font-family: var(--ff-cabin);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-heading {
  font-size: var(--fs-heading);
}
.fs-primary {
  font-size: var(--fs-primary);
}
.fs-secondary {
  font-size: var(--fs-secondary);
}

.fw-semibold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fc-dark {
  color: var(--fc-dark);
}
.fc-light {
  color: var(--fc-light);
}
/* components */

.circle {
  display: grid;
  place-items: center;
  z-index: 1;
  border-radius: 50%;
  border: solid var(--clr-primary);
  width: 100px;
  height: 100px;
}

.circle::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: red;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 500ms ease-in-out;
}

.circle:hover::after,
.circle:focus::after {
  transform: scale(1.5);
}

.primary-navigation {
  --gap: 0.3rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation > :where(:not(:last-child))::after {
  content: ",";
}

.primary-navigation a {
  text-decoration: none;
}
/* 
.underline-indicators > * { target all the children 
    padding: var(--underline-gap, 1rem) 0;
    border-bottom: .2rem solid var(--clr-accent-pri);
} */

.link-icon {
  display: inline-block;
}
/* .link-icon::before {
  position: absolute;
  content:url('./linkicon.svg');
  width: 10px;
  left: -27px;
} */